$color-primary: #425196;
$color-secondary: #f7941d;


$color-grey-10: #1b1b1b;
$color-grey-20: #303030;
$color-grey-30: #474747;
$color-grey-40: #5e5e5e;
$color-grey-50: #777777;
$color-grey-60: #919191;
$color-grey-70: #ababab;
$color-grey-80: #c6c6c6;
$color-grey-90: #e2e2e2;
$color-grey-95: #f1f1f1;

$font-color: $color-grey-30;

$font-family: 'Quicksand', sans-serif;
$font-weight-light:200;
$font-weight-medium:400;
$font-weight-bold:700;

$gutter: 12px;
